<div class="uk-child-width-1-1 uk-grid-small uk-grid-match pt-5 font-size-general" uk-grid>
    <div>
        <div class="uk-padding uk-padding-remove-bottom uk-card-body">
            <h3 class="uk-card-title">

                <nav aria-label="Breadcrumb" class="nf">
                    <ul class="uk-breadcrumb">
                        <li><a href="#">Home</a></li>
                        <li><a [routerLink]="['/edukasi']">Edukasi</a></li>
                        <li><span>Tokoh sejarah</span></li>
                        <!-- <li><a href="#">Linked Category</a></li> -->
                        <!-- <li class="uk-disabled"><a>Disabled Category</a></li> -->
                        <!-- <li><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span></li> -->
                    </ul>
                </nav>
                
                <div *ngIf="selectedItem == null" class="uk-dark"  [routerLink]="['/edukasi']" style="cursor:pointer;">
                    <span><img src="assets/img/icon/arrow.png" class="" alt="" style="width: 50px; filter: invert(1);" ></span>
                    Kembali
                </div>
                <div *ngIf="selectedItem != null"class="uk-dark" (click)="toScreenGrid()" style="cursor:pointer;">
                    <span><img src="assets/img/icon/arrow.png" class="" alt="" style="width: 50px; filter: invert(1);" ></span>
                    Kembali
                </div>
            </h3>
                <h1>{{ title }}</h1>
            <div class="row" *ngIf="selectedItem == null">
                <div class="col-md-8">
                    <p>Pemuda Menteng 31 adalah sebutan untuk mereka para pemuda yang bermarkas di Asrama Angkatan Baru Indonesia. Asrama Menteng 31 adalah tempat merancang aksi dan pendidikan politik kebangsaan bagi para pemuda revolusioner.
                        Meskipun awalnya mereka dibentuk oleh pemerintah Jepang, namun pemuda Menteng 31 diam-diam menggelorakan semangat nasionalisme. Kolaborasi antara gerakan konfrontasi pemuda Menteng 31 dan gerakan strategis angkatan tua itulah, yang berhasil mewujudkan proyek historis negara, yaitu dikumandangkannya proklamasi kemerdekaan Indonesia pada 17 Agustus 1945.</p>        
                </div>
            </div>
            
        </div>
    </div>
</div>

<ng-container *ngIf="selectedItem == null; else detailTokoh">
    <div class="uk-grid-column-small uk-padding uk-padding-remove-top uk-grid-row-large uk-child-width-1-3@s  uk-child-width-1-4@m uk-text-center font-size-general" uk-grid uk-height-match="target: > div > .uk-card">
        <div *ngFor="let tokoh of listTokoh">
            <div class="uk-card uk-card-default">
                <div class="uk-card-media-top">
                    <img [src]="tokoh.img" style="height: 400px; object-fit: cover;" alt="">
                </div>
                <div class="uk-card-body">
                    <h5 class="">{{ tokoh.name }}</h5>
                    <h6><a class="uk-link-heading" (click)="selectedData(tokoh)">Baca selengkapnya</a></h6>
                </div>
            </div>
        </div>
    </div>
</ng-container>

<ng-template #detailTokoh>
    <div class=" font-size-general uk-grid-collapse" uk-grid>
        <div class="uk-width-auto@m uk-text-center">
            <div class="uk-padding uk-padding-remove-right uk-padding-remove-bottom">
                <img [src]="selectedItem.img" class="img-thumbnail" alt="..." (click)="toScreenGrid()">

            </div>
        </div>
        <div class="uk-width-expand@m">
            <div class="uk-card  uk-card-body">
                <div class="row">
                    <div class="col-md-9" style="zoom:1.3">
                        <div [innerHTML]="selectedItem.desc | keepHtml"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>

