<div class="font-size-general" uk-height-viewport >
		
    <div class="uk-child-width-1-2@m uk-grid-collapse"uk-grid>
        <div>
            <div class="uk-card uk-card-body uk-padding-remove-bottom" uk-scrollspy="cls: uk-animation-slide-left; repeat: true">
                    
                <section class="uk-section uk-article font-size-general">
                    <div class="">
                        <h2 class="uk-text-bold uk-h1 uk-margin-remove-adjacent uk-margin-remove-left">Koleksi</h2>
                    </div>
                    
                    <p>Lorem ipsum dolor sit, amet consecteo. Labore corrupti exercitationem est soluta, impedit id tempore blanditiis, accusamus alias vitae reiciendis repellat rem qui quaerat fugiat aperiam autem voluptate sunt nostrum. Laudantium, veritatis temporibus!</p>
                </section>

            </div>
        </div>
    </div>

    <div class="uk-child-width-expand@s uk-grid-collapse " uk-grid uk-height-match="target: > div > .uk-card" id="down-content" >
		<div>
			<div class="uk-card uk-child-width-1-1@m uk-grid-collapse" uk-grid="masonry: true">
				<div class="uk-background-cover img-cover-dashboard p-4 uk-background-secondary" style="height:25vh">

					<article class="uk-article font-size-general uk-light">
						<h1 class="uk-article-title"><a class="uk-link-reset" [routerLink]="['/benda-sejarah']">Benda bersejarah</a></h1>
						<div class="hr"></div>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
					</article>

				</div>
				<div class="uk-background-cover img-cover-dashboard p-4" style="background-image: url(https://getuikit.com/docs/images/dark.jpg); height:25vh">
					<article class="uk-article font-size-general uk-light">
						<h1 class="uk-article-title"><a class="uk-link-reset" [routerLink]="['/benda-sejarah']">Article</a></h1>
						<div class="hr"></div>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
					</article>
				
				</div>

			</div>
		</div>
		<div>
			<div class="uk-card uk-child-width-1-1@m uk-grid-collapse" uk-grid="masonry: true">
				
				<div class="uk-background-cover img-cover-dashboard p-4" style="background-image: url(https://getuikit.com/docs/images/dark.jpg); height:25vh">
					<article class="uk-article font-size-general uk-light">
						<h1 class="uk-article-title"><a class="uk-link-reset" [routerLink]="['/kendaraan-sejarah']">Posts</a></h1>
						<div class="hr"></div>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
					</article>
					
				</div>
				<div class="uk-background-cover img-cover-dashboard p-4 uk-background-secondary" style="height:25vh">
					<article class="uk-article font-size-general uk-light">
						<h1 class="uk-article-title"><a class="uk-link-reset" [routerLink]="['/kendaraan-sejarah']">Kendaraan bersejarah</a></h1>
						<div class="hr"></div>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
					</article>
					
				</div>
			</div>
		</div>
	</div>


</div>

