<div class="font-size-general">
		
	<div class="uk-background-cover uk-light font-size-general"  data-src="assets/img/background/koleksi.jpg" uk-img>
		<div class="uk-child-width-1-2@m uk-grid-small uk-grid-match gs-background-transparent-black pt-5" style="height: 50vh;" uk-grid>
			<div>
				<div class="uk-card uk-card-body">
					<h3 class="uk-card-title">
						<div class="uk-light"  [routerLink]="['../']" style="cursor:pointer;">
							<span><img src="assets/img/icon/arrow.png" class="" alt="" style="width: 50px;" ></span>
							Kembali
						</div>
					</h3>
	
					<h3 class="uk-card-title mb-5">
						<button class="uk-button uk-button-primary uk-button-large uk-light">
							<b>Koleksi</b>
						</button>
					</h3>
					<p>Lorem ipsum <a href="#">dolor</a> sit amet, consectetur adipiscing elit, sed do eiusmod tempor Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae veniam ex, atque dolorum modi iusto ratione saepe labore earum ad? incididunt ut labore et dolore magna aliqua.</p>
				</div>
			</div>
		</div>
	</div>
	

	<section class=" uk-background-cover" >
		<!-- Ruang pamer header -->
		<div class="uk-text-center uk-grid-collapse" uk-grid uk-height-match="target: > div > .uk-card">
			<div class="uk-width-auto">
				<div class="uk-card gs-background-orange-2 p-2">
					<span><img src="assets/img/icon/koleksi.png" class="" alt="" style="width: 50px;" ></span>
				</div>
			</div>
			
			<div class="uk-width-expand">
				<div class="uk-card gs-background-orange-2 p-2"></div>
			</div>
			<div class="uk-width-1-3">
				<div class="uk-card gs-background-coklat-1 p-2">
					<h5 class="uk-position-center uk-light">
						<b>RUANG PAMER</b>
					</h5>
				</div>
			</div>
		</div>
	
	
		<!-- Ruang pamer -->
		<div class="uk-child-width-1-4@m uk-padding uk-padding-remove-top uk-grid-match uk-grid">
			<div>
				<div class="uk-card uk-card-default" [routerLink]="['/ruang-pamer']">
					<div class="uk-card-media-top">
						<img src="assets/img/background/joang.jpg" width="1800" height="1200" alt="">
					</div>
					<div class="uk-card-body">
						<h3 class="uk-card-title">Ruang masa Belanda</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
					</div>
				</div>
			</div>
			<div>
				<div class="uk-card uk-card-default" [routerLink]="['/ruang-pamer']">
					<div class="uk-card-body">
						<h3 class="uk-card-title">Ruang masa Jepang</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
					</div>
					<div class="uk-card-media-bottom">
						<img src="assets/img/background/tamrin.jpg" width="1800" height="1200" alt="">
					</div>
				</div>
			</div>
			<div>
				<div class="uk-card uk-card-default" [routerLink]="['/ruang-pamer']">
					<div class="uk-card-media-top">
						<img src="assets/img/background/prasasti.jpg" width="1800" height="1200" alt="">
					</div>
					<div class="uk-card-body">
						<h3 class="uk-card-title">Ruang masa proklamasi</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
					</div>
				</div>
			</div>
			<div>
				<div class="uk-card uk-card-default" [routerLink]="['/ruang-pamer']">
					<div class="uk-card-body">
						<h3 class="uk-card-title">Ruang masa kedaulatan RIS</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
					</div>
					<div class="uk-card-media-bottom">
						<img src="assets/img/background/fatahilah.jpg" width="1800" height="1200" alt="">
					</div>
				</div>
			</div>
		</div>
	
		<!-- Kendaraan bersejarah header -->
		<div class="uk-text-center uk-grid-collapse" uk-grid uk-height-match="target: > div > .uk-card">
			<div class="uk-width-1-3">
				<div class="uk-card gs-background-coklat-1 p-2">
					<h5 class="uk-position-center uk-light">
						<b>KENDARAAN BERSEJARAH</b>
					</h5>
				</div>
			</div>
			
			<div class="uk-width-expand">
				<div class="uk-card gs-background-orange-1 p-2"></div>
			</div>
	
			<div class="uk-width-auto">
				<div class="uk-card gs-background-orange-1 p-2">
					<span class=""><img src="assets/img/icon/kendaraan.png" class="" alt="" style="width: 50px;" ></span>
				</div>
			</div>
		</div>
		
		<!-- Kendaraan bersejarah -->
		<div class="uk-padding">

			<div class="uk-child-width-1-3@s uk-grid-collapse uk-text-center uk-light" uk-grid>
	
				<div class="uk-background-cover" [routerLink]="['/kendaraan-sejarah', 'mobil-peristiwa-cikini' ]" style="background-image: url(assets/img/background/mobilcikini.jpg); cursor: pointer;" >
					<div class="gs-background-transparent-gradient uk-height-medium uk-panel uk-flex uk-flex-center uk-flex-middle">
						<p class="uk-h4">MOBIL <br> PERISTIWA CIKINI</p>
					</div>
				</div>
	
				<div class="uk-background-cover" [routerLink]="['/kendaraan-sejarah', 'mobil-dinas-bung-karno' ]" style="background-image: url(assets/img/background/mobilr1.jpg); cursor: pointer;" >
					<div class="gs-background-transparent-gradient uk-height-medium uk-panel uk-flex uk-flex-center uk-flex-middle">
						<p class="uk-h4">MOBIL <br> REP-1</p>
					</div>
				</div>
	
				<div class="uk-background-cover" [routerLink]="['/kendaraan-sejarah', 'mobil-dinas-bung-hatta' ]" style="background-image: url(assets/img/background/mobilr2.jpg); cursor: pointer;" >
					<div class="gs-background-transparent-gradient uk-height-medium uk-panel uk-flex uk-flex-center uk-flex-middle">
						<p class="uk-h4">MOBIL <br> REP-2</p>
					</div>
				</div>
	
				
				
			</div>
		</div>
		
	</section>



</div>

