<section class="uk-section uk-article font-size-general">
    <div class="uk-container uk-container-small">

      <nav aria-label="Breadcrumb" class="nf">
        <ul class="uk-breadcrumb">
            <li><a href="#">Home</a></li>
            <!-- <li><a [routerLink]="['/koleksi']">Koleksi</a></li> -->
            <li><span>Frequently asked questions</span></li>
            <!-- <li><a href="#">Linked Category</a></li> -->
            <!-- <li class="uk-disabled"><a>Disabled Category</a></li> -->
            <!-- <li><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span></li> -->
        </ul>
      </nav>

        <h2 class="uk-text-bold uk-h1 uk-margin-remove-adjacent uk-margin-remove-top">FAQ</h2>

    </div>
    
  
    <!-- /large image -->
    <!-- text -->
    <div class="uk-container uk-container-small uk-margin-medium-top">
      <ul uk-accordion="multiple: true">
        <li>
            <a class="uk-accordion-title" href="#">1. Dimana saya bisa mendapatkan tiket?</a>
            <div class="uk-accordion-content uk-margin-medium-left">
              <div>
                  <ul class="uk-list uk-list-collapse uk-list-hyphen">
                      <li><p>Tiket hanya bisa didapatkan di loket masuk Museum Joang 45 Jakarta dalam bentuk Fisik. </p></li>
                  </ul>
              </div>
            </div>
        </li>
        <li>
            <a class="uk-accordion-title" href="#">2. Apakah ada pemesanan tiket Online?</a>
            <div class="uk-accordion-content uk-margin-medium-left">
              <div>
                  <ul class="uk-list uk-list-collapse uk-list-hyphen">
                    <li><p>Tidak ada.</p></li>
                  </ul>
              </div>
            </div>
        </li>
        <li>
            <a class="uk-accordion-title" href="#">3. Apakah anak-anak dikenakan biaya tiket masuk?</a>
            <div class="uk-accordion-content uk-margin-medium-left">
              <div>
                  <ul class="uk-list uk-list-collapse uk-list-hyphen">
                    <li><p>Tidak ada biaya tiket masuk untuk anak-anak dengan tinggi badan di bawah 85cm. Selebihnya, anak-anak dengan tinggi badan di atas 85 cm dikenai tarif tiket masuk normal.</p></li>
                  </ul>
              </div>
            </div>
        </li>
        <li>
            <a class="uk-accordion-title" href="#">4. Apakah ada harga tiket khusus untuk wisatawan asing?</a>
            <div class="uk-accordion-content uk-margin-medium-left">
              <div>
                  <ul class="uk-list uk-list-collapse uk-list-hyphen">
                    <li><p>Ada. Dapatkan 20% diskon untuk pembelian semua tiket Museum Joang 45 Jakarta dengan menunjukkan paspor wisatawan asing.</p></li>  
                  </ul>
              </div>
            </div>
        </li>
  
        <li>
            <a class="uk-accordion-title" href="#">5. Apakah ada keuntungan bila datang bersama grup?</a>
            <div class="uk-accordion-content uk-margin-medium-left">
              <div>
                  <ul class="uk-list uk-list-collapse uk-list-hyphen">
                    <li><p>Ada. Kunjungan grup sejumlah 30 orang minimal, akan mendapatkan diskon 20%.</p></li>
                  </ul>
              </div>
            </div>
        </li>
        <li>
            <a class="uk-accordion-title" href="#">6. Saya ingin mengganti tanggal kunjungan pada tiket pesanan saya. Bagaimana caranya?</a>
            <div class="uk-accordion-content uk-margin-medium-left">
              <div>
                  <ul class="uk-list uk-list-collapse uk-list-hyphen">
                    <li><p>Kami mohon maaf bahwa Anda tidak bisa mengubah tanggal kedatangan pada tiket yang telah Anda pesan.</p></li>
                  </ul>
              </div>
            </div>
        </li>
        <li>
            <a class="uk-accordion-title" href="#">7. Bisakah saya menguangkan kembali (refund) tiket yang telah saya beli?</a>
            <div class="uk-accordion-content uk-margin-medium-left">
              <div>
                  <ul class="uk-list uk-list-collapse uk-list-hyphen">
                    <li><p>Tidak bisa. Tiket yang telah Anda beli tidak bisa kami uangkan kembali.</p></li>
                  </ul>
              </div>
            </div>
        </li>
        <li>
            <a class="uk-accordion-title" href="#">8. Apakah boleh membawa masuk makanan dan minuman ke dalam Museum?</a>
            <div class="uk-accordion-content uk-margin-medium-left">
              <div>
                  <ul class="uk-list uk-list-collapse uk-list-hyphen">
                    <li><p>Tidak diperkenankan membawa makanan dan minuman ke dalam Museum Joang 45 Jakarta.</p></li>
                  </ul>
              </div>
            </div>
        </li>
        
      </ul>
  
    </div>
  
    
</section>