<div class="uk-section-default font-size-general uk-background-cover " style="background-image: url(assets/img/background/footer.jpg)">
    <div class="uk-paddig-medium pt-3 uk-light  gs-background-transparent-gradient-90" >
        <div class="uk-grid-collapse uk-child-width-expand@s uk-grid-match " uk-grid>
            <div>
                <div class="uk-padding uk-padding-remove-right  uk-light">
                
                    <div class="uk-child-width-expand" uk-grid>
        
                        <div>
                            <ul class="uk-list">
                                <li>Edukasi</li>
                                <li>Koleksi</li>
                                <li>Tentang kami</li>
                                <li>Informasi</li>
                            </ul>
                        </div>
        
                        <div>
                            <ul class="uk-list">
                                <li>Sejarah</li>
                                <li>Denah lokasi</li>
                                <li>Berita</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="uk-text-center uk-light">
                
                <h6 class="uk-padding-small uk-padding-remove-bottom ">Social media :</h6>
                    <div class="uk-child-width-1-2 uk-grid-collapse uk-text-center" uk-grid>
                        <div>
                            <div class="uk-tile uk-padding-small uk-padding-remove-top uk-padding-remove-right">
                                <img 
                                src="https://png.pngtree.com/png-vector/20221018/ourmid/pngtree-instagram-social-platform-icon-png-image_6315976.png" 
                                style="width:40px" 
                                alt="instagram">
                            </div>
                        </div>
                        <div>
                            <div class="uk-tile uk-padding-small uk-padding-remove-top uk-padding-remove-left" >
                                <img 
                                src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/Facebook_f_logo_%282019%29.svg/1024px-Facebook_f_logo_%282019%29.svg.png" 
                                alt="logo-facebook"
                                style="width:40px" >
                            </div>
                        </div>
                        <div>
                            <div class="uk-tile uk-padding-small  uk-padding-remove-right">
                                <img src="https://upload.wikimedia.org/wikipedia/commons/e/ef/Youtube_logo.png" 
                                alt="logo-youtube"
                                style="width:50px" >
                            </div>
                        </div>
                        <div>
                            <div class="uk-tile uk-padding-small uk-padding-remove-left">
                                <img 
                                src="https://cdn.pixabay.com/photo/2021/06/15/12/28/tiktok-6338432_1280.png" 
                                alt="logo-tiktok"
                                style="width:30px" >
                            </div>
                        </div>
                        
                    </div>
                
                </div>
            </div>
            <div>
                <div class="uk-text-center uk-light">
                
                    <h6 class="uk-padding-small uk-padding-remove-bottom ">Supported by :</h6>
                    <div class="uk-child-width-1-2 uk-grid-collapse uk-text-center" uk-grid>
                        <div>
                            <div class="uk-tile uk-padding-small uk-padding-remove-right uk-padding-remove-top">
                                <img 
                                src="https://api2.kemenparekraf.go.id/storage/app/uploads/public/621/437/6d3/6214376d3978f205929356.png" 
                                class="img-footer" 
                                alt="wonderfull-indonesia">
                            </div>
                        </div>
                        <div>
                            <div class="uk-tile uk-padding-small uk-padding-remove-bottom uk-padding-remove-right uk-padding-remove-top uk-padding-remove-left" >
                                <img 
                                src="https://dmm0a91a1r04e.cloudfront.net/uy0UPfLmdw-HKBco0KxKzuzXuS8=/1024x576/https%3A%2F%2Fkompaspedia.kompas.id%2Fwp-content%2Fuploads%2F2020%2F07%2FLOGO_3100_DKI-JAKARTA_thumb.png" 
                                alt="logo-dki-jakarta"
                                class="img-footer">
                            </div>
                        </div>
                        <div>
                            <div class="uk-tile uk-padding-small uk-padding-remove-top uk-padding-remove-right">
                                <img src="https://jakarta-tourism.picsidev.com/system/cms/themes/tourism/img/logo-negative.png" 
                                alt="logo-enjoy-jakarta"
                                class="img-footer">
                            </div>
                        </div>
                        <div>
                            <div class="uk-tile uk-padding-small uk-padding-remove-top uk-padding-remove-right uk-padding-remove-left ">
                                <img 
                                src="https://ikj.ac.id/wp-content/uploads/2022/01/logo-ikj-05.png" 
                                alt="logo-ikj"
                                class="img-footer">
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div>
                <div class="uk-padding-left uk-text-center uk-light">
                    <h6 class="uk-padding-small uk-padding-remove-bottom ">Contact us :</h6>
                    <div class="uk-child-width-expand@s uk-padding-small  uk-text-left uk-padding-remove-top" uk-grid>
                        <ul class="uk-list uk-list-hyphen uk-padding-small">
                            <li>Andreass (Bag. Reservasi)</li>
                            <li>Jhon Wick</li>
                        </ul>
                    </div>
        
                </div>
            </div>
        </div>
    </div>
</div>