<div class="uk-section-default font-size-general uk-background-cover " style="background-image: url(https://cdn.shopify.com/s/files/1/2656/8500/files/grey-painted-brick-wall_3a79cb34-00fd-44b2-b73a-d484182a27bb_1800x.jpg?v=1656251095)">
    <div class="uk-paddig-medium pt-3 uk-light gs-background-transparent-black" >
        <div class="uk-grid-collapse uk-child-width-expand@s uk-grid-match " uk-grid>
            <div>
                <div class="uk-padding uk-padding-remove-right  uk-light">
                
                    <div class="uk-child-width-expand" uk-grid style="cursor: pointer;">
        
                        <div>
                            <ul class="uk-list">
                                <li [routerLink]="['/edukasi' ]"><span>Edukasi</span></li>
                                <li [routerLink]="['/koleksi' ]"><span>Koleksi</span></li>
                                <li [routerLink]="['/tentang' ]"><span>Tentang kami</span></li>
                                <li [routerLink]="['/informasi' ]"><span>Informasi</span></li>
                            </ul>
                        </div>
        
                        <div>
                            <ul class="uk-list">
                                <li [routerLink]="['/sejarah' ]"><span>Sejarah</span></li>
                                <li [routerLink]="['/denah' ]"><span>Denah lokasi</span></li>
                                <li [routerLink]="['/post' ]"><span>Berita</span></li>
                                <li [routerLink]="['/snk' ]"><span>Syarat & ketentuan</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="uk-text-center uk-light">
                
                <h6 class="uk-padding-small uk-padding-remove-bottom ">Social media :</h6>
                    <div class="uk-child-width-1-2 uk-grid-collapse uk-text-center" uk-grid>
                        <div>
                            <div class="uk-tile uk-padding-small uk-padding-remove-top uk-padding-remove-right">
                                <img 
                                src="assets/img/icon/ig.png" 
                                style="width:50px" 
                                alt="instagram">
                            </div>
                        </div>
                        <div>
                            <div class="uk-tile uk-padding-small uk-padding-remove-top uk-padding-remove-left" >
                                <img 
                                src="assets/img/icon/fb.png" 
                                alt="logo-facebook"
                                style="width:45px" >
                            </div>
                        </div>
                        <div>
                            <div class="uk-tile uk-padding-small  uk-padding-remove-right">
                                <img 
                                src="assets/img/icon/yt.png" 
                                alt="logo-youtube"
                                style="width:55px" >
                            </div>
                        </div>
                        <div>
                            <div class="uk-tile uk-padding-small uk-padding-remove-left">
                                <img 
                                src="assets/img/icon/tt.png" 
                                alt="logo-tiktok"
                                style="width:50px" >
                            </div>
                        </div>
                        
                    </div>
                
                </div>
            </div>
            <div>
                <div class="uk-text-center uk-light">
                
                    <h6 class="uk-padding-small uk-padding-remove-bottom ">Supported by :</h6>
                    <div class="uk-child-width-1-2 uk-grid-collapse uk-text-center" uk-grid>
                        <div>
                            <div class="uk-tile uk-padding-small uk-padding-remove-right uk-padding-remove-top">
                                <img 
                                src="https://api2.kemenparekraf.go.id/storage/app/uploads/public/621/437/6d3/6214376d3978f205929356.png" 
                                class="img-footer" 
                                alt="wonderfull-indonesia">
                            </div>
                        </div>
                        <div>
                            <div class="uk-tile uk-padding-small uk-padding-remove-bottom uk-padding-remove-right uk-padding-remove-top uk-padding-remove-left" >
                                <img 
                                src="https://dmm0a91a1r04e.cloudfront.net/uy0UPfLmdw-HKBco0KxKzuzXuS8=/1024x576/https%3A%2F%2Fkompaspedia.kompas.id%2Fwp-content%2Fuploads%2F2020%2F07%2FLOGO_3100_DKI-JAKARTA_thumb.png" 
                                alt="logo-dki-jakarta"
                                class="img-footer">
                            </div>
                        </div>
                        <div>
                            <div class="uk-tile uk-padding-small uk-padding-remove-top uk-padding-remove-right">
                                <img src="https://jakarta-tourism.picsidev.com/system/cms/themes/tourism/img/logo-negative.png" 
                                alt="logo-enjoy-jakarta"
                                class="img-footer">
                            </div>
                        </div>
                        <div>
                            <div class="uk-tile uk-padding-small uk-padding-remove-top uk-padding-remove-right uk-padding-remove-left ">
                                <img 
                                src="https://ikj.ac.id/wp-content/uploads/2022/01/logo-ikj-05.png" 
                                alt="logo-ikj"
                                class="img-footer">
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div>
                <div class="uk-padding-left uk-text-center uk-light">
                    <h6 class="uk-padding-small uk-padding-remove-bottom ">Contact us :</h6>
                    <div class="uk-child-width-expand@s uk-padding-small  uk-text-left uk-padding-remove-top" uk-grid>
                        <ul class="uk-list uk-list-hyphen uk-padding-small" style="cursor: pointer;">
                            <li [routerLink]="['/informasi' ]">Official office</li>
                            <li [routerLink]="['/informasi' ]">Tour guide</li>
                            <li [routerLink]="['/informasi' ]">Loket</li>
                        </ul>
                    </div>
        
                </div>
            </div>
        </div>
    </div>
</div>