

<div class="uk-position-top-right uk-position-fixed faq-container ">
   <a [routerLink]="['/faq']" class="text-light">FAQ</a> 
</div>



<!-- menu for small screen -->
<div class="show-on-small-screen">
    <div (click)="sidebarShow = !sidebarShow" class=" uk-position-top-left p-2 uk-background-secondary link-light uk-position-fixed uk-position-z-index">
        <span 
            class="link-light"
            uk-icon="icon: menu; ratio: 1.5">
        </span>
    </div>
</div>


<!-- side menu for large screen -->
<div class="sidebar-slider" [class.sidebar-slide-in]="sidebarShow">

    <!-- button atas -->
    <div (click)="sidebarShow = !sidebarShow" class=" uk-position-top-left p-2 uk-background-secondary show-on-small-screen link-light uk-position-fixed uk-position-z-index">
        <span class="link-light"
              uk-icon="icon: close; ratio: 1.5">
        </span>
    </div>

  <div class="sidebar-content">

      <div class="uk-padding-large uk-padding-remove-top container uk-position-center-left uk-overlay" >


        <div class="uk-grid-collapse uk-grid-match uk-light uk-position-center-left uk-overlay" uk-grid>
            <div class="uk-width-auto@m">
              <div class="uk-padding-large">
                        
                <div class="mt-4">
                    <ul class="uk-nav uk-nav-default">
                        <li class="mb-2">
                            <a [class.uk-active] = "setCurrentMenu('/dashboard')">
                                <h4 (click)="sidebarShow = !sidebarShow; setCurrentMenu('/dashboard')" [routerLink]="['/dashboard' ]">Beranda</h4>
                            </a>
                        </li>
                        <li class="uk-parent">
                            <a [class.uk-active] = "setCurrentMenu('/edukasi')">
                                <h4 (click)="sidebarShow = !sidebarShow; setCurrentMenu('/edukasi')" [routerLink]="['/edukasi' ]">Edukasi</h4>
                            </a>
                            <ul class="uk-nav-sub mt-2">
                                <li>
                                    <a [class.uk-active] = "setCurrentMenu('/tokoh-sejarah')">
                                        <span (click)="sidebarShow = !sidebarShow; setCurrentMenu('/tokoh-sejarah')" [routerLink]="['/tokoh-sejarah' ]">Tokoh sejarah</span>
                                    </a>
                                </li>
                                <li>
                                    <a [class.uk-active] = "setCurrentMenu('/sejarah')">
                                        <span (click)="sidebarShow = !sidebarShow; setCurrentMenu('/sejarah')" [routerLink]="['/sejarah' ]">Garis sejarah</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="uk-parent">
                            <a [class.uk-active] = "setCurrentMenu('/koleksi')">
                                <h4 (click)="sidebarShow = !sidebarShow; setCurrentMenu('/koleksi')" [routerLink]="['/koleksi' ]">Koleksi</h4>
                            </a>
                            <ul class="uk-nav-sub mt-2">
                                <li>
                                    <a [class.uk-active] = "setCurrentMenu('/ruang-pamer')">
                                        <span (click)="sidebarShow = !sidebarShow; setCurrentMenu('/ruang-pamer')" [routerLink]="['/ruang-pamer' ]">Benda bersejarah</span>
                                    </a>
                                </li>
                                <li>
                                    <a [class.uk-active] = "setCurrentMenu('/koleksi')">
                                        <span (click)="sidebarShow = !sidebarShow; setCurrentMenu('/koleksi')" [routerLink]="['/koleksi' ]">Kendaraan bersejarah</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="mb-2">
                            <a [class.uk-active] = "setCurrentMenu('/tentang')">
                                <h4 (click)="sidebarShow = !sidebarShow; setCurrentMenu('/tentang')" [routerLink]="['/tentang' ]">Tentang kami</h4>
                            </a>
                        </li>
                        <li class="mb-2">
                            <a [class.uk-active] = "setCurrentMenu('/informasi')">
                                <h4 (click)="sidebarShow = !sidebarShow; setCurrentMenu('/informasi')" [routerLink]="['/informasi' ]">Informasi kunjungan</h4>
                            </a>
                        </li>
                        <li class="mb-2">
                            <a [class.uk-active] = "setCurrentMenu('/denah')">
                                <h4 (click)="sidebarShow = !sidebarShow; setCurrentMenu('/denah')" [routerLink]="['/denah' ]">Denah gedung</h4>
                            </a>
                        </li>
                        <li class="mb-2">
                            <a [class.uk-active] = "setCurrentMenu('/post')">
                                <h4 (click)="sidebarShow = !sidebarShow; setCurrentMenu('/post')" [routerLink]="['/post' ]">Berita</h4>
                            </a>
                        </li>
      
                    </ul>
                </div>
              </div>
            </div>
            <div class="uk-width-1-2@m pt-4">
              <div class="uk-padding-large">
                  
                  
                <div class="uk-margin uk-dark">
                    <div class="uk-width-1-1">
                            <input class="uk-input icon uk-form-large " type="text">
                    </div>
                </div>
                
                <div>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d36048.215433693265!2d106.81689752250372!3d-6.1876506583973425!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69f439e42506f1%3A0x5b47d4d83d25b9dd!2sGedung%20Joang%20&#39;45!5e0!3m2!1sid!2sid!4v1679995626596!5m2!1sid!2sid" 
                        
                        style="border:0; width :100%; height: 200px; filter: grayscale(100%) invert(92%) contrast(83%);" 
                        allowfullscreen="" 
                        loading="lazy" 
                        referrerpolicy="no-referrer-when-downgrade">
                    </iframe>
                </div>
                
                <hr>
                <div class="uk-child-width-1-3@s uk-grid-collapse uk-text-center" uk-grid>
                    <div>
                        <div class="uk-tile uk-padding-small uk-padding-remove-left uk-padding-remove-bottom ">
                            <img 
                            src="https://api2.kemenparekraf.go.id/storage/app/uploads/public/621/437/6d3/6214376d3978f205929356.png" 
                            style="width:130px"
                            alt="wonderfull-indonesia">
                        </div>
                    </div>
                    <div>
                        <div class="uk-tile uk-padding-small uk-padding-remove-bottom">
                            <img src="https://jakarta-tourism.picsidev.com/system/cms/themes/tourism/img/logo-negative.png" 
                            alt="logo-enjoy-jakarta"
                            class="img-footer">
                        </div>
                    </div>
                    <div>
                        <div class="uk-tile uk-padding-small uk-padding-remove-bottom uk-padding-remove-right  uk-padding-remove-bottom" >
                            <img 
                            src="https://dmm0a91a1r04e.cloudfront.net/uy0UPfLmdw-HKBco0KxKzuzXuS8=/1024x576/https%3A%2F%2Fkompaspedia.kompas.id%2Fwp-content%2Fuploads%2F2020%2F07%2FLOGO_3100_DKI-JAKARTA_thumb.png" 
                            alt="logo-dki-jakarta"
                            class="img-footer">
                        </div>
                    </div>
        
      
                    
                </div>
        
                <hr>
                
              </div>
            </div>
            <div class="uk-width-expand@m pt-3" style="height: 100px;">
                <div class="uk-padding-large">
                    <div (click)="sidebarShow = !sidebarShow" class="align-middle">
                        <span class="link-light"
                              uk-icon="icon: close; ratio: 2">
                        </span>
                    </div>
                </div>
            </div>
        </div>
      

            <!-- <div class="uk-position-center-left uk-overlay zoom-out" uk-grid>
    
                <div class="uk-width-1-3@s">
                    <div class="uk-card  uk-card-body">
                         <ul class="uk-nav-primary uk-light" uk-nav>
                            <li class="uk-parent" [class.uk-active] = "setCurrentMenu('/koleksi')">
                                <a>
                                    <span (click)="sidebarShow = !sidebarShow; setCurrentMenu('/koleksi')" [routerLink]="['/koleksi' ]">Koleksi</span> 
                                    <span uk-nav-parent-icon></span>
                                </a>
                                <ul class="uk-nav-sub">
                                    <li [class.uk-active] = "setCurrentMenu('/benda-sejarah')">
                                        <a (click)="sidebarShow = !sidebarShow; setCurrentMenu('/benda-sejarah')" [routerLink]="['/benda-sejarah' ]">Benda bersejarah</a>
                                    </li>
                                    <li [class.uk-active] = "setCurrentMenu('/kendaraan-sejarah')">
                                        <a (click)="sidebarShow = !sidebarShow; setCurrentMenu('/kendaraan-sejarah')" [routerLink]="['/kendaraan-sejarah', 'daya-sasasa' ]">Kendaraan bersejarah</a>
                                    </li>
                                </ul>
                            </li>
                            
        
                            <li class="uk-parent" [class.uk-active] = "setCurrentMenu('/sejarah')">
                                <a>
                                    <span (click)="sidebarShow = !sidebarShow; setCurrentMenu('/sejarah')" [routerLink]="['/sejarah' ]">Sejarah</span> 
                                    <span uk-nav-parent-icon></span>
                                </a>
                                <ul class="uk-nav-sub">
                                    <li [class.uk-active] = "setCurrentMenu('/sejarah')">
                                        <a (click)="sidebarShow = !sidebarShow; setCurrentMenu('/sejarah')" [routerLink]="['/sejarah' ]">Garis sejarah</a>
                                    </li>
                                    <li [class.uk-active] = "setCurrentMenu('/tokoh-sejarah')">
                                        <a (click)="sidebarShow = !sidebarShow; setCurrentMenu('/tokoh-sejarah')" [routerLink]="['/tokoh-sejarah' ]">Tokoh sejarah</a>
                                    </li>
                                </ul>
                            </li>
        
        
                            <li [class.uk-active] = "setCurrentMenu('/dashboard')">
                                <a (click)="sidebarShow = !sidebarShow; setCurrentMenu('/dashboard')" [routerLink]="['/dashboard' ]">Dashboard</a>
                            </li>
                            <li [class.uk-active] = "setCurrentMenu('/article')">
                                <a (click)="sidebarShow = !sidebarShow; setCurrentMenu('/article')" [routerLink]="['/article', 'daya-sasasa' ]">Article</a>
                            </li>
                            <li [class.uk-active] = "setCurrentMenu('/post')">
                                <a (click)="sidebarShow = !sidebarShow; setCurrentMenu('/post')" [routerLink]="['/post']">Berita</a>
                            </li>
                            <li [class.uk-active] = "setCurrentMenu('/snk')">
                                <a (click)="sidebarShow = !sidebarShow; setCurrentMenu('/snk')" [routerLink]="['/snk']">Syarat & ketentuan</a>
                            </li>
                            <li [class.uk-active] = "setCurrentMenu('/faq')">
                                <a (click)="sidebarShow = !sidebarShow; setCurrentMenu('/faq')" [routerLink]="['/faq']">FAQ</a>
                            </li>
                            <li [class.uk-active] = "setCurrentMenu('/tentang')">
                                <a (click)="sidebarShow = !sidebarShow; setCurrentMenu('/tentang')" [routerLink]="['/tentang']">Tentang kami</a>
                            </li>
                            <li [class.uk-active] = "setCurrentMenu('/informasi')">
                                <a (click)="sidebarShow = !sidebarShow; setCurrentMenu('/informasi')" [routerLink]="['/informasi']">Informasi</a>
                            </li>
                            <li [class.uk-active] = "setCurrentMenu('/login')">
                                <a (click)="sidebarShow = !sidebarShow; setCurrentMenu('/login')" [routerLink]="['/login']">Login</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="uk-width-expand@s">
                    <div class="uk-card  uk-card-body">
                        <dl class="uk-description-list uk-description-list-divider uk-light">
                            <dt class="uk-text-danger">Description term</dt>
                            <dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</dd>
                            <dt class="uk-text-danger">Description term</dt>
                            <dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</dd>
                            <dt class="uk-text-danger">Description term</dt>
                            <dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</dd>
    
    
                        </dl>
                    </div>
                </div>
                
                <div class="uk-width-auto@s show-on-large-screen">
                    <div class="uk-card uk-card-body ">
                        <div (click)="sidebarShow = !sidebarShow" class="">
                            <span class="link-light"
                                  uk-icon="icon: close; ratio: 2">
                            </span>
                        </div>
                    </div>
                </div>
                
            </div> -->
    

        
 
      </div>
  </div>
</div>



<!-- content -->

<div class="sidenav">
  <div class="bg-dark uk-card-default "  uk-height-viewport > 

      <a class="p-3" href="#top-page"  uk-scroll>
          <!-- <img src="assets/img/belgium-wwii.png" alt="" > -->
      </a>

      <div class="sidebar-open" >
          <span 
              (click)="sidebarShow = !sidebarShow" 
              uk-icon="icon: menu; ratio: 2">
          </span>
      </div>
  </div>
</div>

<div class="main uk-background-center-center uk-animation-toggle" style="background-image: url(https://www.belgiumwwii.be/content/img/bg.jpg)" id="top-page">
  
    <div>
        <router-outlet></router-outlet>
        <app-footer></app-footer>
    </div>

</div>