<section class="uk-section uk-article font-size-general">
  <div class="uk-container uk-container-small">

    <nav aria-label="Breadcrumb" class="nf">
      <ul class="uk-breadcrumb">
          <li><a href="#">Home</a></li>
          <!-- <li><a [routerLink]="['/koleksi']">Koleksi</a></li> -->
          <li><span>Syarat & ketentuan</span></li>
          <!-- <li><a href="#">Linked Category</a></li> -->
          <!-- <li class="uk-disabled"><a>Disabled Category</a></li> -->
          <!-- <li><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span></li> -->
      </ul>
    </nav>


      <h2 class="uk-text-bold uk-h1 uk-margin-remove-adjacent uk-margin-remove-top">Syarat & ketentuan</h2>
            
      <p>Syarat dan Ketentuan yang ditetapkan di bawah ini mengatur pemakaian situs online Museum Gedung Joang 45 Jakarta terkait penggunaan website 
        ini. Pengunjung disarankan membaca dengan saksama karena dapat berdampak kepada hak dan kewajiban pelanggan di bawah hukum.
      </p>

      <p>
        Dengan mengakses dan/atau mengunakan website ini, maka pelanggan dianggap telah membaca, mengerti, memahami dan menyetujui semua isi dalam syarat dan ketentuan yang telah ditetapkan.
      </p>
      
      
  </div>
  

  <!-- /large image -->
  <!-- text -->
  <div class="uk-container uk-container-small uk-margin-medium-top">
    <ul uk-accordion="multiple: true">
      <li class="uk-open">
          <a class="uk-accordion-title" href="#">1. DEFINISI</a>
          <div class="uk-accordion-content uk-margin-medium-left">
            <div>
                <ul class="uk-list uk-list-collapse uk-list-decimal">
                    <li>
                      <p>
                        Museum Joang 45 Jakarta adalah salah satu dari anggota museum Yayasan Mitra Museum Jakarta, yang menjadi saksi bisu
                        kebangkitan dan perjuangan Rakyat Indonesia, sebagai tempat pembelajaran dan penyimpanan barang barang bersejarah para
                        Pahlawan Nasional. 
                      </p>
                    </li>
                    <li>
                      <p>
                        Situs online Museum Joang 45 Jakarta adalah www.joang45jakarta.com
                      </p>
                    </li>
                    <li>
                      <p>
                        Syarat dan ketentuan adalah perjanjian antara penggunjung dengan Museum Joang 45 Jakarta yang berisikan seperangkat peraturan yang mengatur hak, kewajiban, tanggung jawab pengunjung dan Museum Joang 45 Jakarta.
                      </p>
                    </li>
                    <li>
                      <p>
                        Calon Pengunjung adalah masyarakat yang sedang melihat situs www.joang45jakarta.com
                      </p>
                    </li>
                    <li>
                      <p>
                        Pengunjung adalah masyarakat yang bersedia datang ke Museum Joang 45 Jakarta dan membeli tiket untuk menikmati layanan museum
                      </p>
                    </li>
                    <li>
                      <p>
                        www.Joang45jakarta.com adalah situs online yang memberikan gambaran cepat mengenai Museum Joang 45 Jakarta.
                      </p>
                    </li>
                    <li>
                      <p>
                        Pemesanan Tiket akan berlangsung di loket museum, diberikan dalam bentuk kertas cetak, dan akan dilakukan check in sebelum memasuki pintu depan gedung oleh petugas.
                      </p>
                    </li>
                </ul>
            </div>
          </div>
      </li>
      <li class="uk-open">
          <a class="uk-accordion-title" href="#">2. KEBIJAKAN PEMESANAN TIKET</a>
          <div class="uk-accordion-content uk-margin-medium-left">
            <div>
                <ul class="uk-list uk-list-collapse uk-list-decimal">
                  <li><p> Calon Pengunjung yang ingin memasuki museum, diperkenankan untuk membeli tiket masuk di loket.</p></li>
                  <li><p>Pengunjung akan mendapatkan tiket 1/Orang sesuai kategori.</p> </li>
                  <li><p>Pengunjung yang telah membeli tiket akan menerima bukti pembelian tiket.</p></li>
                </ul>
            </div>
          </div>
      </li>
      <li class="uk-open">
          <a class="uk-accordion-title" href="#">3. TRANSAKSI</a>
          <div class="uk-accordion-content uk-margin-medium-left">
            <div>
                <ul class="uk-list uk-list-collapse uk-list-decimal">
                  <li><p>Pengunjung hanya dapat bertransaksi melalui loket pembelian tiket resmi dari museum.</p></li>
                  <li><p>Museum tidak menyediakan pemesanan dalam bentuk E-ticket.</p></li>
                  <li><p>Tiket yang sudah dibeli tidak bisa di kembalikan.</p></li>
                  <li><p>Tiket hanya berlaku untuk satu kali penggunaan (1x12 Jam).</p></li>
                  <li><p>Mata uang yang digunakan dan berlaku dalam pembelian tiket di museum adalah dalam Indonesia Rupiah (IDR)</p></li>
                </ul>
            </div>
          </div>
      </li>
      <li class="uk-open">
          <a class="uk-accordion-title" href="#">4. METODE PEMBAYARAN</a>
          <div class="uk-accordion-content uk-margin-medium-left">
            <div>
                <ul class="uk-list uk-list-collapse uk-list-decimal">
                  <li><p>Pengunjung di perkenankan membawa uang cash saat melakukan transaksi tiket.</p></li>
                  <li><p>Pengunjung hanya dapat membeli tiket masuk di tempat.</p></li>

                </ul>
            </div>
          </div>
      </li>

      <li class="uk-open">
          <a class="uk-accordion-title" href="#">5. HARGA</a>
          <div class="uk-accordion-content uk-margin-medium-left">
            <div>
                <ul class="uk-list uk-list-collapse uk-list-decimal">
                  <li><p>Harga tiket yang tertera di situs www.joang45jakarta.com adalah harga yang sudah ditetapkan.</p></li>
                  <li><p>Harga yang ditetapkan dalam situs www.joang45jakarta.com adalah harga final dan termasuk pajak.</p></li>
                  <li><p>Harga tiket untuk rombongan minimal 30 orang akan mendapatkan diskon 25%.</p></li>
                </ul>
            </div>
          </div>
      </li>
      <li class="uk-open">
          <a class="uk-accordion-title" href="#">6. JENIS LAYANAN</a>
          <div class="uk-accordion-content uk-margin-medium-left">
            <div>
                <ul class="uk-list uk-list-collapse uk-list-decimal">
                  <li><p>Jenis layanan yang diberikan oleh di situs www.joang45jakarta.com hanya sebatas gambaran isi koleksi Museum, dan sebagian informasi mengenai riwayat kejadian bersejarah kemerdekaan di Gedung Joang 45 Jakarta.</p></li>
                  <li><p>Website www.joang45jakarta.com tidak memperjualbelikan tiket atau merchandise apapun di halaman website.</p></li>
                  
                </ul>
            </div>
          </div>
      </li>
      <li class="uk-open">
          <a class="uk-accordion-title" href="#">7. KEAMANAN</a>
          <div class="uk-accordion-content uk-margin-medium-left">
            <div>
                <ul class="uk-list uk-list-collapse uk-list-decimal">
                  <li><p>www.joang45jakarta.com menjaga privasi setiap calon pengunjung dengan serius.</p></li>
                  <li><p>Informasi hanya digunakan untuk membantu kami dalam menyediakan layanan yang lebih baik.</p></li>
                  <li><p> www.joang45jakarta.com tidak akan memberikan informasi pribadi calon pengunjung dengan perusahaan lain ataupun individu lain.</p></li>
                </ul>
            </div>
          </div>
      </li>
      <li class="uk-open">
          <a class="uk-accordion-title" href="#">8. JAM OPRASIONAL</a>
          <div class="uk-accordion-content uk-margin-medium-left">
            <div>
                <ul class="uk-list uk-list-collapse uk-list-decimal">
                  <li><p>Kunjungan ke Museum dapat berlangsung pada hari Selasa-Minggu dari jam 08.00 hingga jam 16.00 WIB (Jam Kerja).</p></li>
                  <li><p>Kegiatan kunjungan Museum Gedung Joang 45 Jakarta di kosongkan (Libur) setiap hari Senin.</p></li>
                </ul>
            </div>
          </div>
      </li>
      <li class="uk-open">
          <a class="uk-accordion-title" href="#">9. KETENTUAN LAIN</a>
          <div class="uk-accordion-content uk-margin-medium-left">
            <div>
                <ul class="uk-list uk-list-collapse uk-list-decimal">
                  <li><p>Pengunjung yang ingin mengenal Museum Gedung Joang 45 Jakarta dapat menjelajahi situs www.joang45jakarta.com dengan berbagai  konten didalamnya.</p></li>
                  <li><p>Dengan ini menyatakan memahami dan menyetujui segala syarat dan ketentuan yang diatur khusus sehubungan dengan konten-konten tersebut.</p></li>
                  <li><p>Segala hal yang belum dan atau tidak diatur dalam syarat dan ketentuan khusus dalam fitur tersebut, maka akan sepenuhnya merujuk pada syarat dan ketentuan Museum Gedung Joang 45 Jakarta secara umum.</p></li>
                  <li><p>Setuju bahwa layanan yang ada pada www.joang45jakarta.com diberikan kepada calon pengunjung sebagaimana adanya dan sebagaimana tersedianya.</p></li>
                  <li><p>Syarat dan ketentuan mungkin diubah dan/atau diperbarui dari waktu ke waktu tanpa pemberitahuan sebelumnya.</p></li>

                </ul>
            </div>
          </div>
      </li>
      
    </ul>

  </div>

  
</section>