






<form [formGroup]="inputForm" (keydown.enter)="submit()">

    <div class="row mb-2">
        <div class="col-md-3">
            <label class="uk-form-label" for="form-stacked-text">Title</label>
            <div class="uk-form-controls">
                <input class="uk-input" formControlName="title" id="form-stacked-text" type="text" placeholder="Title website">
            </div>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-md-6">
            <label class="uk-form-label" for="form-stacked-text">Quotes</label>
            <div class="uk-form-controls">
                <textarea class="uk-textarea" formControlName="quotes" placeholder="Quotes"></textarea>
            </div>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-md-3">
            <label class="uk-form-label" for="form-stacked-text">Quote by</label>
            <div class="uk-form-controls">
                <input class="uk-input" formControlName="quoteBy" id="form-stacked-text" type="text" placeholder="Quote by">
            </div>
        </div>
    </div>

    <button class="uk-button uk-button-primary uk-button-small" (click)="submit()" >Simpan</button>



</form>





<p-toast></p-toast>
