<!-- menu for small screen -->
<div class="show-on-small-screen " id="toggle-menu" uk-toggle="target: #toggle-menu; animation: uk-animation-slide-right-medium" >
    <div (click)="sidebarShow = !sidebarShow" class=" uk-position-top-left p-2 uk-background-secondary link-light uk-position-fixed uk-position-z-index">
        <span 
            class="link-light"
            uk-icon="icon: menu; ratio: 1.5">
        </span>
    </div>
</div>


<!-- side menu for large screen -->
<div class="sidebar-slider" [class.sidebar-slide-in]="sidebarShow">

    <!-- button kanan -->
    <div class="uk-position-large uk-position-center-right uk-overlay show-on-large-screen">
        <span class="link-light"
        (click)="sidebarShow = !sidebarShow"
        uk-icon="icon: close; ratio: 2">
        </span>
    </div>


    <!-- button atas -->
    <div (click)="sidebarShow = !sidebarShow" uk-toggle="target: #toggle-menu; animation: uk-animation-slide-left" class=" uk-position-top-left p-2 show-on-small-screen link-light uk-position-fixed uk-position-z-index">
        <span class="link-light"
              uk-icon="icon: close; ratio: 1.5">
        </span>
    </div>

  <div class="sidebar-content">





      <div class="uk-child-width-1-2@s uk-child-width-1-4@m uk-grid-small uk-grid-match uk-position-large uk-position-center-left" uk-grid>
          <div class="">
            <div class="uk-light">

                <a class="pt-5" href="#top-page"  uk-scroll>
                    <img src="assets/img/belgium-wwii.png" alt="" >
                </a>


                <ul class="uk-nav-primary" uk-nav>
                    <!-- <li class="uk-parent">
                        <a href="#">Parent <span uk-nav-parent-icon></span></a>
                        <ul class="uk-nav-sub">
                            <li><a href="#">Sub item</a></li>
                            <li><a href="#">Sub item</a></li>
                        </ul>
                    </li>
                    <li class="uk-parent">
                        <a href="#">Parent <span uk-nav-parent-icon></span></a>
                        <ul class="uk-nav-sub">
                            <li><a href="#">Sub item</a></li>
                            <li><a href="#">Sub item</a></li>
                        </ul>
                    </li> -->
                    <li [class.uk-active] = "setCurrentMenu('/dashboard')">
                        <a (click)="sidebarShow = !sidebarShow; setCurrentMenu('/dashboard')" [routerLink]="['/dashboard' ]">Dashboard</a>
                    </li>
                    <li [class.uk-active] = "setCurrentMenu('/article')">
                        <a (click)="sidebarShow = !sidebarShow; setCurrentMenu('/article')" [routerLink]="['/article', 'daya-sasasa' ]">Article</a>
                    </li>
                    <li [class.uk-active] = "setCurrentMenu('/post')">
                        <a (click)="sidebarShow = !sidebarShow; setCurrentMenu('/post')" [routerLink]="['/post', 'daya-tarik' ]">Posts</a>
                    </li>
                    <li [class.uk-active] = "setCurrentMenu('/sejarah')">
                        <a (click)="sidebarShow = !sidebarShow; setCurrentMenu('/sejarah')" [routerLink]="['/sejarah']">Sejarah</a>
                    </li>
                    <!-- <li><a (click)="sidebarShow = !sidebarShow" [routerLink]="['/dashboard']">Item</a></li>
                    <li><a (click)="sidebarShow = !sidebarShow" [routerLink]="['/dashboard']">Item</a></li>
                    <li><a (click)="sidebarShow = !sidebarShow" [routerLink]="['/dashboard']">Item</a></li> -->
                </ul>
            </div>
              <!-- <div class="uk-card uk-card-default uk-card-body">
                  <h3 class="uk-card-title" (click)="sidebarShow = !sidebarShow">Default</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </div> -->
          </div>
          
          <div>
              <div class="uk-card  uk-card-body" [routerLink]="['/dashboard']">
               
                <dl class="uk-description-list uk-description-list-divider uk-light">
                    <dt class="uk-text-danger">Description term</dt>
                    <dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</dd>
                    <dt class="uk-text-danger">Description term</dt>
                    <dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</dd>
                    <dt class="uk-text-danger">Description term</dt>
                    <dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</dd>
                </dl>

              </div>
          </div>
          
      </div>
  </div>
</div>



<!-- content -->

<div class="sidenav">
  <div class="uk-background-secondary uk-card-default "  uk-height-viewport > 

      <a class="p-3" href="#top-page"  uk-scroll>
          <img src="assets/img/belgium-wwii.png" alt="" >
      </a>

      <div class="sidebar-open" >
          <span 
              (click)="sidebarShow = !sidebarShow" 
              uk-icon="icon: menu; ratio: 2">
          </span>
      </div>
  </div>
</div>

<div class="main uk-background-cover" style="background-image: url(https://www.belgiumwwii.be/content/img/bg.jpg)" id="top-page">
  
    <router-outlet></router-outlet>
    <app-footer></app-footer>

</div>





