<div class="uk-light font-size-general" >
    <div class="uk-child-width-1-1@m uk-grid-small uk-grid-match gs-background-transparent-black pt-5" uk-grid>
        <div>
            <div class="uk-card uk-card-body">
                
                <nav aria-label="Breadcrumb" class="nf">
                    <ul class="uk-breadcrumb">
                        <li><a href="#">Home</a></li>
                        <li><a [routerLink]="['/koleksi']">Koleksi</a></li>
                        <li><span>Kendaraan bersejarah</span></li>
                        <!-- <li><a href="#">Linked Category</a></li> -->
                        <!-- <li class="uk-disabled"><a>Disabled Category</a></li> -->
                        <!-- <li><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span></li> -->
                    </ul>
                </nav>

                <h3 class="uk-card-title">
                    <div class="uk-light"  [routerLink]="['/koleksi']" style="cursor:pointer;">
                        <span><img src="assets/img/icon/arrow.png" class="" alt="" style="width: 50px;" ></span>
                        Kembali
                    </div>
                </h3>

                <h1 class=" mb-5">
                    {{ selectedItem.title }}
                </h1>
                <div class="row">
                    <div class="col-md-8">
                        <p> {{ selectedItem.desc }} </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="uk-slider-container-offset font-size-general" uk-slider>

    <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1">

        <ul class="uk-slider-items uk-child-width-1-2@s uk-grid-collapse uk-grid-match uk-grid">


            
            <li *ngFor="let imgSrc of selectedItem.img">
                <div class="uk-card uk-card-default">
                    <div class="uk-card-media-top"  style="height: 100%;">
                        <img [src]="imgSrc" style="height: 100%;" alt="">
                    </div>
                    <!-- <div class="uk-card-body">
                        <h3 class="uk-card-title">Headline</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                    </div> -->
                </div>
            </li>
        </ul>

        <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
        <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>

    </div>

    <!-- <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul> -->

</div>


<div class="uk-child-width-1-2@m uk-child-width-1-1@s font-size-general" uk-grid>
    <div>
        <div class="uk-card uk-card-body">
            <table class="uk-table uk-table-small uk-table-divider">
                <tbody>
                    <tr>
                        <td>Merk mobil</td>
                        <td>:</td>
                        <td>{{ selectedItem.merkMobil }}</td>
                    </tr>
                    <tr>
                        <td>Jenis Mobil</td>
                        <td>:</td>
                        <td>{{ selectedItem.jenisMobil }}</td>
                    </tr>
                    <tr>
                        <td>Mesin mobil</td>
                        <td>:</td>
                        <td>{{ selectedItem.mesinMobil }}</td>
                    </tr>
                    <tr>
                        <td>Plat mobil</td>
                        <td>:</td>
                        <td>{{ selectedItem.platMobil }}</td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
    </div>
    
</div>

