<div class="font-size-general">
		
	<div class="uk-background-cover uk-light font-size-general"  data-src="assets/img/background/edukasi.jpg" uk-img>
		<div class="uk-child-width-1-2@m uk-grid-small uk-grid-match gs-background-transparent-black pt-5" style="height: 50vh;" uk-grid>
			<div>
				<div class="uk-card uk-card-body">

					<nav aria-label="Breadcrumb" class="nf">
						<ul class="uk-breadcrumb">
							<li><a href="#">Home</a></li>
							<!-- <li><a [routerLink]="['/koleksi']">Koleksi</a></li> -->
							<li><span>Denah gedung</span></li>
							<!-- <li><a href="#">Linked Category</a></li> -->
							<!-- <li class="uk-disabled"><a>Disabled Category</a></li> -->
							<!-- <li><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span></li> -->
						</ul>
					</nav>


					<h3 class="uk-card-title">
                        <div class="uk-light"  [routerLink]="['../']" style="cursor:pointer;">
							<span><img src="assets/img/icon/arrow.png" class="" alt="" style="width: 50px;" ></span>
							Kembali
						</div>
					</h3>
	
					<h3 class="uk-card-title mb-5">
						<button class="uk-button uk-button-primary uk-button-large uk-light">
							<b>Denah gedung</b>
						</button>
					</h3>
					<p>Lorem ipsum <a href="#">dolor</a> sit amet, consectetur adipiscing elit, sed do eiusmod tempor Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae veniam ex, atque dolorum modi iusto ratione saepe labore earum ad? incididunt ut labore et dolore magna aliqua.</p>
				</div>
			</div>
		</div>
	</div>




</div>

