.gs-table-jam-operasional{
    table, th, td {
        border:2px solid #D7742B;
        text-align:center
      }
}

.gs-table-harga-tiket{
    table, th, td {
        border:2px solid #D7742B;
        text-align:center
      }
}