

  
	<div class="" uk-height-viewport >
		
		<div class="uk-child-width-1-2@m uk-grid-match uk-grid-collapse uk-background-cover" data-src="https://www.belgiumwwii.be/content/img/home.jpg" uk-img="loading: eager"  uk-grid uk-height-viewport>
			<div>
				<div class="uk-card uk-card-body background-transparent-gradient " uk-scrollspy="cls: uk-animation-slide-left; repeat: true">
						
						
						<div class="uk-position-center  uk-padding-large ">

							<blockquote cite="#">
								<p class="uk-margin-small-bottom uk-light">The blockquote element represents content that is quoted from another source, optionally with a citation which must be within a footer or cite element.</p>
								<footer>Someone famous in <cite><a href="#">Source Title</a></cite></footer>
							</blockquote>

							<div class="uk-child-width-1-1@m" uk-grid>

								<a href="#down-content" uk-scroll><img src="assets/img/belgium-wwii.png" class="" alt="" style="width: 1000px;"></a>
			
							</div>

							<section id="section10" class="demo show-on-large-screen">
								<a href="#down-content" uk-scroll><span></span></a>
							</section>

							
							

						</div>

						

						

	
				</div>
			</div>
			<div>
				<div class="uk-card uk-card-body" uk-scrollspy="cls: uk-animation-slide-right; repeat: true" >
					
				</div>
			</div>
		</div>
	</div>

	<div class="uk-child-width-expand@s uk-grid-collapse " uk-grid uk-height-match="target: > div > .uk-card" id="down-content" >
		<div>
			<div class="uk-card uk-child-width-1-1@m uk-grid-collapse" uk-grid="masonry: true" uk-height-viewport>
				<div class="uk-background-cover img-cover-dashboard p-4" style="background-image: url(https://getuikit.com/docs/images/dark.jpg); height:25vh">

					<article class="uk-article font-size-general uk-light">
						<h1 class="uk-article-title">
							<a class="uk-link-reset" [routerLink]="['/sejarah']">
								<span><img src="assets/img/icon/edukasi.png" class="" alt="" style="width: 40px;" ></span>
								Sejarah
							</a>
						</h1>
						<div class="hr"></div>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
					</article>

				</div>
				<div class="uk-background-cover img-cover-dashboard p-4" style="background-image: url(https://getuikit.com/docs/images/dark.jpg); height:25vh">
					<article class="uk-article font-size-general uk-light">
						<h1 class="uk-article-title">
							<a class="uk-link-reset" [routerLink]="['/article', 'daya-sasasa' ]">
								<span><img src="assets/img/icon/edukasi.png" class="" alt="" style="width: 40px;" ></span>
								Article
							</a>
						</h1>
						<div class="hr"></div>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
					</article>
				
				</div>
				<div class="uk-background-cover img-cover-dashboard p-4" style="background-image: url(https://getuikit.com/docs/images/dark.jpg); height:25vh">
					<article class="uk-article font-size-general uk-light">
						<h1 class="uk-article-title">
							<a class="uk-link-reset" [routerLink]="['/post', 'daya-tarik' ]">
								<span><img src="assets/img/icon/edukasi.png" class="" alt="" style="width: 40px;" ></span>
								Posts
							</a>
						</h1>
						<div class="hr"></div>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
					</article>
					
				</div>
				<div class="uk-background-cover img-cover-dashboard p-4" style="background-image: url(https://getuikit.com/docs/images/dark.jpg); height:25vh">
					<article class="uk-article font-size-general uk-light">
						<h1 class="uk-article-title">
							<a class="uk-link-reset" [routerLink]="['/koleksi']">
								<span><img src="assets/img/icon/edukasi.png" class="" alt="" style="width: 40px;" ></span>
								Koleksi
							</a>
						</h1>
						<div class="hr"></div>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
					</article>
					
				</div>
			</div>
		</div>
		<div>
			<div class="uk-card uk-child-width-1-1@m uk-grid-collapse" uk-grid="masonry: true" uk-height-viewport>
				<div class="" >
					<div class="uk-flex uk-flex-center uk-flex-middle uk-light font-size-general" style="height: 50vh">
					
						<img src="https://getuikit.com/docs/images/dark.jpg" style="height:100%" alt="">
            <div class="uk-overlay uk-overlay-primary uk-position-bottom">
                <p>Default Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>

					</div>
				</div>
				
				
				<div class="" >
					<div class="uk-flex uk-flex-center uk-flex-middle uk-light font-size-general" style="height: 50vh">
					
						<img src="https://getuikit.com/docs/images/dark.jpg" style="height:100%" alt="">
            <div class="uk-overlay uk-overlay-primary uk-position-bottom">
                <p>Default Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>

					</div>
				</div>

				
			</div>
		</div>
	</div>

	


	

