

  
	<div class="" uk-height-viewport >
		
		<div class="uk-child-width-1-2@m uk-grid-match uk-grid-collapse uk-background-cover" uk-grid uk-height-viewport data-src="https://www.belgiumwwii.be/content/img/home.jpg" uk-img="loading: eager">
			<div>
				<div class="uk-card uk-card-body background-transparent-gradient" uk-scrollspy="cls: uk-animation-slide-left; repeat: true">
						
						
						<div class="uk-position-center uk-overlay">
							<div class="uk-child-width-1-1@m" uk-grid>

								<img src="assets/img/belgium-wwii.png" class="" alt="" style="width: 1000px;">
			
							</div>
							<div class="uk-child-width-1-1@m">

									<a class="uk-button uk-button-primary" href="#down-content" uk-scroll>Scroll down</a>
									
											
											
			
							</div>
							

						</div>

						

	
				</div>
			</div>
			<div>
				<div class="uk-card uk-card-body" uk-scrollspy="cls: uk-animation-slide-right; repeat: true" >
					
				</div>
			</div>
		</div>
	
		<div class="uk-child-width-1-2@m uk-grid-match uk-grid-collapse" id="down-content" uk-grid>
			<div>
				<div class="uk-card uk-card-default uk-card-body" uk-scrollspy="cls: uk-animation-slide-left; repeat: true">
					<h3 class="uk-card-title">Left</h3>

					<a [routerLink]="['/post', 'daya-tarik' ]" class="button button--flex button--link home__info-button">
                        ke post <i class="ri-arrow-right-line"></i>
                    </a>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

				</div>
			</div>
			<div>
				<div class="uk-card uk-card-default uk-card-body" uk-scrollspy="cls: uk-animation-slide-right; repeat: true">
					<h3 class="uk-card-title">Right</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
					<a [routerLink]="['/sejarah' ]" class="button button--flex button--link home__info-button">
                        sejarah <i class="ri-arrow-right-line"></i>
                    </a>
				</div>
			</div>
		</div>
	
		<div class="uk-child-width-1-2@m uk-grid-match uk-grid-collapse" uk-grid>
			<div>
				<div class="uk-card uk-card-default uk-card-body" uk-scrollspy="cls: uk-animation-slide-left; repeat: true">
					<h3 class="uk-card-title">Left</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
				</div>
			</div>
			<div>
				<div class="uk-card uk-card-default uk-card-body" uk-scrollspy="cls: uk-animation-slide-right; repeat: true">
					<h3 class="uk-card-title">Right</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
				</div>
			</div>
		</div>
	
		<div class="uk-child-width-1-2@m uk-grid-match uk-grid-collapse" uk-grid>
			<div>
				<div class="uk-card uk-card-default uk-card-body" uk-scrollspy="cls: uk-animation-slide-left; repeat: true">
					<h3 class="uk-card-title">Left</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
				</div>
			</div>
			<div>
				<div class="uk-card uk-card-default uk-card-body" uk-scrollspy="cls: uk-animation-slide-right; repeat: true">
					<h3 class="uk-card-title">Right</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
				</div>
			</div>
		</div>
	
		<div class="uk-child-width-1-2@m uk-grid-match uk-grid-collapse" uk-grid>
			<div>
				<div class="uk-card uk-card-default uk-card-body" uk-scrollspy="cls: uk-animation-slide-left; repeat: true">
					<h3 class="uk-card-title">Left</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
				</div>
			</div>
			<div>
				<div class="uk-card uk-card-default uk-card-body" uk-scrollspy="cls: uk-animation-slide-right; repeat: true">
					<h3 class="uk-card-title">Right</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
				</div>
			</div>
		</div>
		<div class="uk-child-width-1-2@m uk-grid-match uk-grid-collapse" uk-grid>
			<div>
				<div class="uk-card uk-card-default uk-card-body" uk-scrollspy="cls: uk-animation-slide-left; repeat: true">
					<h3 class="uk-card-title">Left</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
				</div>
			</div>
			<div>
				<div class="uk-card uk-card-default uk-card-body" uk-scrollspy="cls: uk-animation-slide-right; repeat: true">
					<h3 class="uk-card-title">Right</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
				</div>
			</div>
		</div>
	
		<div class="uk-child-width-1-2@m uk-grid-match uk-grid-collapse" uk-grid>
			<div>
				<div class="uk-card uk-card-default uk-card-body" uk-scrollspy="cls: uk-animation-slide-left; repeat: true">
					<h3 class="uk-card-title">Left</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
				</div>
			</div>
			<div>
				<div class="uk-card uk-card-default uk-card-body" uk-scrollspy="cls: uk-animation-slide-right; repeat: true">
					<h3 class="uk-card-title">Right</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
				</div>
			</div>
		</div>
	</div>

  	<div class="uk-child-width-1-1@m uk-grid-match uk-grid-collapse" uk-grid>
		<div>
			<div class="uk-card uk-card-default uk-card-body" uk-scrollspy="cls: uk-animation-slide-left; repeat: true">
				<h3 class="uk-card-title">Left</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
				<a href="#" uk-totop uk-scroll></a>

			</div>
		</div>
	</div>


	

