<div class="uk-child-width-1-2 uk-grid-small uk-grid-match pt-5 font-size-general" uk-grid  uk-height-viewport="offset-top: true" >
  <div>
      <div class="uk-padding uk-padding-remove-bottom uk-card-body">
          <h3 class="uk-card-title">

              <nav aria-label="Breadcrumb" class="nf">
                  <ul class="uk-breadcrumb">
                      <li><a href="#">Home</a></li>
                      <li><a [routerLink]="['/edukasi']">Edukasi</a></li>
                      <li><span>Sejarah</span></li>
                      <!-- <li><a href="#">Linked Category</a></li> -->
                      <!-- <li class="uk-disabled"><a>Disabled Category</a></li> -->
                      <!-- <li><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span></li> -->
                  </ul>
              </nav>
            

              <div class="uk-dark" [routerLink]="['../edukasi']" style="cursor:pointer;">
                  <span><img src="assets/img/icon/arrow.png" class="" alt="" style="width: 50px; filter: invert(1);" ></span>
                  Kembali
              </div>
          </h3>
          <h3 class="uk-card-title mb-5">
						<button class="uk-button uk-button-primary uk-button-large uk-light" style="cursor: text;">
							<b>Sejarah</b>
						</button>
					</h3>

          <div class="row" >
              <div class="col-md-12">
                  <p>Pemuda Menteng 31 adalah sebutan untuk mereka para pemuda yang bermarkas di Asgat nasionalisme. Kolaborasi antara gerakan konfrontasi pemuda Menteng 31 dan gerakan strategis angkatan tua itulah, yang berhasil mewujudkan proyek historis negara, yaitu dikumandangkannya proklamasi kemerdekaan Indonesia pada 17 Agustus 1945.</p>        
              </div>
          </div>

          <div class="row justify-content-md-center mt-5" style="height: 300px; overflow: scroll; ">
           
            <div class="col-md-auto">
                <ul class="uk-list">
                    <li *ngFor="let year of listYear">
                        <button class="uk-button uk-button-primary uk-button-large" (click)="onYearSelected(year)">{{ year }}</button>
                    </li>
                </ul>
            </div>
          </div>
          
      </div>
  </div>


  <div style="height: 100vh; overflow: scroll;" class="uk-padding-large-bottom">
    <div class="uk-padding uk-padding-remove-bottom uk-card-body">
        
        <div class="uk-card uk-card-default uk-card-body uk-margin-bottom uk-width-1-1@m" *ngFor="let sejarah of selectedItem" >
            <h3 class="uk-card-title"> {{ sejarah.subtitle }} </h3>
            <div class="gs-spoiler-sejarah">
                <div [innerHTML]=" sejarah.prolog | keepHtml"></div>
            </div>
            <a (click)="onSejarahSelected(sejarah)" >Selengkapnya...</a>
        </div>
        

    </div>
  </div>
</div>



