@import 'src/assets/scss/uikit-override';
@import 'src/assets/scss/custom';




  a:link { text-decoration: none; }


  a:visited { text-decoration: none; }


  a:hover { text-decoration: none; }


  a:active { text-decoration: none; }

  ::-webkit-scrollbar-track
  {
    border: 1px solid #FF5722;
    background-color: #F5F5F5;
  }
  
  ::-webkit-scrollbar
  {
    width: 6px;
    background-color: #F5F5F5;
  }
  
  ::-webkit-scrollbar-thumb
  {
    border-radius: 50px;
    background-color: #FF5722;	
  }
  
.font-size-general{
  font-size: 15px;
  color: #666666;
}

::-webkit-scrollbar{
  display: none;
}

// ===============================
.show-on-large-screen{
  display: inherit;
}

.show-on-small-screen{
  display: none;
}


.zoom-out{
  zoom: 1;
}

@media only screen and (max-width: 1000px) {
  .show-on-large-screen{
    display: none;
  }

  .show-on-small-screen{
    display: inherit;
  }

  .zoom-out{
    zoom: 0.7;
  }

}

